// Fonts and type
//
// This sections demonstrates the different fonts and types.
//
//
// markup:
// <h1 class="header--large">Heading 1: The quick brown fox jumps over the lazy dog</h1>
// <h2 class="header--medium">Heading 2: The quick brown fox jumps over the lazy dog</h2>
// <h3 class="header--small">Heading 3: The quick brown fox jumps over the lazy dog</h3>
// <h4 class="header--smaller">Heading 3: The quick brown fox jumps over the lazy dog</h4>
// <p>The quick brown fox jumps over the lazy dog</p>
// <p class="text">The quick brown fox jumps over the lazy dog</p>
//
// Styleguide 1.2


/* I am styling on a body class as well as the body tag - this is a workaround because i cannot append styles to the body tag in the styleguide */
body, .sgwa-body {
  font-size: $bf;

  @media (min-width: $bp-small) {
    font-size: $bf-large;
  }
}


* {
  font-family: 'Merriweather', serif;
  font-size: 1em;
  line-height: 1.5;
  color: $color-text-main;
  margin: 0;

  &.color-primary {
    color: $color-primary;
  }
}

.text {
  &--small {
    font-size: 0.6em;
  }
}


.header {
  font-family: 'Raleway', sans-serif;
  line-height: 1.2;
  margin-top: 0;

  &--large {
    @extend .header;
    font-size: 2.5em;
    margin-bottom: 1em;
  }

  &--medium {
    @extend .header;
    font-size: 2em;
    margin-bottom: 0.75em;
  }

  &--small {
    @extend .header;
    font-size: 1.5em;
    margin-bottom: 0.5em;
  }

  &--smaller {
    @extend .header;
    font-size: 1.2em;
    margin-bottom: 0.5em;
  }
}
